body{
	min-height: 100%;
	min-width: 100%;
}

#master{
	height: 100%;
	width: 100%;
	position: relative;
}

#header{
	background-color: #303030;
	height: 50px;
	width: 100%;
}

#content_space{
	background-color: white;
	min-height: 100%;
	width: 100%;
}

#content{
	height: 250px;
	width: 538px;
	margin: auto;
	margin: 200px auto 50px auto;
}

#footer{
	width: 100%;
	height: 100px;
	background-color: #FAFAFA;
	clear: both;
	position: absolute;
	bottom: 0px;
}

#textbox{
	width: 538px;
	height: 1.4em;
	font-size: 1.4em;
	font-family: Tahoma, Verdana, Times, Serif;
}

#search{
	margin: 10px 5px 10px 150px; 
}

#lucky{
	margin: 10px 0 10px 5px;
}